<html>
    <head>
        <title>DogeTube</title>
        <link rel="icon" href="favicon.ico?v=<%= Math.trunc(Math.random()*999) %>" type="image/x-icon" />
    </head>

    <body>
        <%= message %>
    </body>
</html>